<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	 <!-- JQuery first -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-12 col-bg-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, eveniet, totam, minus eum nihil laborum vel eius vero dolorem inventore aut saepe rem blanditiis excepturi hic libero esse recusandae sit.</div>
      </div>
    </div>
    <div class="container">
      <!-- Stack the columns on mobile by making one full-width and the other half-width -->
      <div class="row">
        <div class="col-6 col-md-4">
          <div class="left-sb">
            <h5>Рубрики</h5>
            <ul>
              <li><a href="">Lorem ipsum dolor</a></li>
              <li><a href="">Nihil ducimus quam</a></li>
              <li>
                <a href="">Aliquam necessitatibus</a>
                <ul>
                  <li><a href="">Lorem ipsum dolor</a></li>
                  <li><a href="">Cumque iste obcaecati</a></li>
                  <li><a href="">Debitis itaque quas</a></li>
                </ul>
              </li>
              <li><a href="">Obcaecati tempora</a></li>
              <li><a href="">Minima exercitationem</a></li>
              <li><a href="">Magni cumque iste</a></li>
              <li><a href="">Eos quis quas</a></li>
            </ul>
             <h5>Панель управления</h5>
              <ul>
                  <li><a href="/cpanel/addcat">Редактор рубрик</a></li>
                  <li><a href="/cpanel/addpost">Добавить статью</a></li>
              </ul>
          </div>

        </div>

        {{{body}}}
     </div>
    </div>
        <!-- Optional JavaScript -->
    <!-- then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script> -->

    </body>
</html>