
        <div class="col-12 col-md-8">
          <div class="main">
            <h5>Добавление рубрики</h5>
           <form>
              <div class="form-group">
                <label for="title-cat">Заголовок</label>
                <input type="text" name="title-cat" class="form-control" id="title-cat" placeholder="">
              </div>
              <div class="form-group">
                <label for="uri-cat">Ссылка</label>
                <input type="text" name="uri-cat" class="form-control" id="uri-cat" placeholder="">
              </div>
              <div class="form-group">
                <label for="description-cat">Описание</label>
                <textarea name="description-cat" class="form-control" id="description-cat" rows="3"></textarea>
              </div>
               <button id="addcat-submit" class="btn btn-primary" type="submit">Submit form</button>
            </form>
          </div>
        </div>

      </div>
    </div>
    
    